// ----------  variables
// ------------------------------------------------------------------------------

$font-default: 'Roboto', sans-serif;
$font-headings: 'Jost', sans-serif;

// Colors
$white: #fff;
$black: #333;
$grey: #B6B6B6;
$grey-light: #d9d9d9;
$orange: #FF9800;
$blue-dark: #235180;


$title-color: #2D3F59;


// ----------  Media queries breakpoints - Grid breakpoint
// ------------------------------------------------------------------------------

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
